.container {
  margin: 3rem auto;
  max-width: 90vw;
  display: grid;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 599px) {
  .container  { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 600px) {
  .container  { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
  .container  { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
  .container  { grid-template-columns: repeat(4, 1fr); }
}

