@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
// @font-face {
//     font-family: 'Aladin';
//     src: url('./../../../public/fonts/Aladin-Regular.ttf') format('ttf');
//   }


// COLOURS
$primary-color: rgb(5,4,19);
$brand-color: #4338ca;
$main-white: #FFFFFF;

// TYPOGRAPHY
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Comfortaa', cursive;
$logo: 'Aladin', cursive;