@font-face {
    font-family: 'Aladin';
    src: url('../../../public/fonts/Aladin-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Comfortaa';
    src: url('./../../../public/fonts/Comfortaa.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }


// COLOURS
$primary-color: rgb(5,4,19);
$brand-color: #4338ca;
$main-white: #FFFFFF;

// TYPOGRAPHY
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Comfortaa', cursive;
$logo: 'Aladin', cursive;